@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  font-style: normal;
  color: #121212;
}
header {
  background: url(./assets/header-image.jpeg);
  height: 4.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
p {
  line-height: 24px;
}

.filter-btn {
  border: 1px solid #190d40;
  border-radius: 8px;
  padding: 8px;
}

.card {
  border: 1px solid #c6bdde;
  width: 47%;
  min-width: 170px;
  max-width: 260px;
  height: auto;
  border-radius: 12px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.btn-blue {
  background: #190d40;
  border-radius: 12px;
  padding: 8px;
  color: #fff;
}

footer div {
  flex-basis: 30%;
  font-size: 12px;
}

footer div h4 {
  font-size: 16px;
}

footer form input {
  border: 1px solid #190d40;
  background: transparent;
  border-radius: 8px;
  flex: 1;
  outline: 0;
  padding: 0.2rem 1rem;
  font-weight: 500;
  font-style: normal;
}

.card-section {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.checkout-form input {
  width: 100%;
  outline: none;
  border: 0.5px solid #c6bdde;
  background: transparent;
  border-radius: 8px;
  padding: 0.8rem;
}

.checkout-form .mainFormDiv {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 12px;
}

a {
  transition: scale 0.5s ease-in-out;
}
button {
  transition: scale 0.5s ease-in-out;
}
a:hover {
  scale: 0.9;
}

button:hover {
  scale: 0.9;
}


/* Tooltip */

.tooltip {
  position: relative;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

